/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- 总体预设 --*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Lato', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	padding: 0;			   
}
body a:hover{
	text-decoration:none;
}
/*缓动*/
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- //总体预设 --*/
/*-- 首页 --*/
/*背景*/
.header {
  background: url("../images/banner.jpg")no-repeat 0px 0px;
  background-position:top center; 
  background-size:cover;
  padding:0;margin:0;clear:both;
  min-height: 520px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
/*导航*/
.header-top {
  margin-top: 1em;
  background: rgba(255, 255, 255, 0.41);
  max-height: 4.5em;
}
.header-left {
   float:left;
   padding-top: 0.3em;
}
.header-left a{
	display:block;
}
.header-left ul li {
  display: inline-block;
  margin: 1.2em 1em;
}
.header-left ul {
  color: #006fa6;
}
.header-left ul li a:hover {
  border-top: 4px solid#ffce3a;
  color:#ffce3a;
}
.header-left ul li a{
  text-transform: capitalize;
  font-size: 1.1em;
  color: #006fa6;
  text-decoration: none;
}
.header-left ul li a.active {
  border-top: 4px solid#ffce3a;
  color: #ffce3a;
}
 span.menu {
  display: none;
}
.header-right{
	float:right;
	padding-top: 0.3em;
}
.language,
.language ul,
.language li,
.language a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.language ul,li {
	list-style: none;
}
.language li {
	position: relative;
	float: left;
	display: block;
	height: 1.5em;
}

.language li a {
	display: block;
	margin: 1.3em 1em;
	padding: 0 1em;
	font-size: 1.1em;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.language li:hover a {
	color:#006fa6;
}
.language ul {
	position: absolute;
	right: 0;
	opacity: 0;
	background: rgba(255, 255, 255, 0.41);
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.language li:hover ul{
	opacity: 1;
}
.language ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0 1em;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}
.language li:hover ul li {
	height: 2em;
	overflow: visible;
	padding: 0;
}
.language ul li a {
	width: 6em;
	padding: 4px 0 4px 40px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #97c3dc;
}
.language ul li:last-child a { border: none; }
.language a.english { background: url(../images/au.jpg) no-repeat 6px center; }
.language a.chinese { background: url(../images/cn.jpg) no-repeat 6px center; }
/*标志和宣传语*/
.logo {
	visibility: hidden;
 	text-align: center;
 	padding: 4em 0 0;
}
.logo a{
	display:block;
}
.slogan{
	padding: 1em;
	text-align: center;
	background: rgba(255, 255, 255, 0.62);
	margin: 5em auto 0;
	width: 70%;
}
.slogan h1{
  	color: #006fa6;
  	font-weight: 700;
  	font-size: 3em;
  	margin: 0;
  	font-family: 'Raleway', sans-serif;
}
.slogan p{
  	color: #000000;
  	font-size: 1.3em;
  	margin: 0;
  	text-transform: uppercase;
}
/*公司介绍*/
.product, .gallery, .contact{
  	padding: 6em 0 6em;
}
p.natus{
	font-size:14px;
	color:#000;
	margin:0 0 2em;
	line-height:1.7em;
	text-align:center;
}
p.natus-cn{
	font-size:14px;
	color:#000;
	margin:0 0 2em;
	line-height:1.7em;
	text-align:center;
	text-indent: 2em;
}
.introduction {
	margin: 0 0 3em;
}
.introduction h3{
	font-size:2.5em;
	color:#FEC514;
	margin:0 0 .5em;
	font-weight:300;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}
.introduction p{
	text-align: left;
	margin: 0 0 .5em;
	line-height: 1.7em;
	color: #444444;
}
.introduction p span{
	color:#ffce3a;
	font-weight:600;
}

/*产品介绍*/
.product-grids, .gallery-grids, .contact-grids{
	margin: 1em 0 0;
}
.product-grid img, .gallery-grid img{
	width:100%;
}
.line{
	margin:1em 0;
}
.line span{
	padding:5px 50px;
	background:#0f3b99;
	border-radius:5px;
}
.product-grid h4 a{
	color:#006fa6;
	text-decoration:none;
}
.product-grid h4 a:hover{
	color:#0ec7b4;
	text-decoration:none;
}
.product-grid h4{
	font-weight:600;
	margin:1em 0;
	font-size:1.2em;
	position: relative;
	padding:1.5em 0 0;
	text-transform:capitalize;
}
.product-grid h4 a:before{
	background:#ffce3a;
	width: 50%;
	min-height: 7px;
	content: '';
	position: absolute;
	top: 2%;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
h4.line a:before{
	background:#6bcfde;
	width: 50%;
	min-height: 7px;
	content: '';
	position: absolute;
	top: 2%;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
.product-grid p{
	font-size: .9em;
	color: #9c9c9c;
	margin: 0 0 1.5em;
	line-height: 1.7em;
	height: 10em;
}
/*按钮样式*/
.btn-primary {
	border-color: #fff !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  	border-color: #FFF !important;
  	background-color: #006fa6 !important;
}
.hvr-rectangle-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: #006fa6;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#ffce3a;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
/*联系方式*/
.footer{
	padding:4em 0 0;
	background:#164f6c;
}
.footer-grid ul{
	padding:0 0 0 1em;
	margin:0;
	list-style:none;
}
.footer-grid ul li{
	color:#CFCBCB;
	margin:5px 0;
	font-size:14px;
}
.phone {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -220px 0px;
  display: inline-block;
}
.address {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -260px 0px;
  display: inline-block;
}
.message {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -300px 6px;
  display: inline-block;
}
/*落款*/
.footer-bottom{
	margin: 6em 0 0;
	padding: 2em 0;
	border-top: 1px solid #DDDADA;
}
.footer-bottom-left{
	float:left;
	margin-top: 1.4em;
}
.footer-bottom-left p{
	color:#f4f4f4;
	margin:0;
	font-size:15px;
}
.footer-bottom-left p a{
	color:#ffc414;
}
.footer-bottom-left p a:hover{
  color: #f4f4f4;
  text-decoration: none;
}
.footer-bottom-right{
	float:right;
	margin-top: 1.3em;
}
.footer-bottom-right ul li{
	display:inline-block;
}
/*社交互动*/
.footer-bottom-right ul li a.facebook{
	background: url(../images/img-sp.png) no-repeat -17px -9px;
	display: block;
	height: 35px;
	width: 36px;
}
.footer-bottom-right ul li a.facebook:hover{
	background: url(../images/img-sp.png) no-repeat -72px -9px;
	display: block;
}
.footer-bottom-right ul li a.p{
	background: url(../images/img-sp.png) no-repeat -17px -59px;
	display: block;
	height: 35px;
	width: 36px;
}
.footer-bottom-right ul li a.p:hover{
	background: url(../images/img-sp.png) no-repeat -74px -59px;
	display: block;
}
.footer-bottom-right ul li a.twitter{
	background: url(../images/img-sp.png) no-repeat -17px -109px;
	display: block;
	height: 35px;
	width: 36px;
}
.footer-bottom-right ul li a.twitter:hover{
	background: url(../images/img-sp.png) no-repeat -73px -109px;
	display: block;
}
/*to-top*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //首页 --*/	

/*-- 二级页通用 --*/

.header1 {
	background: url("../images/banner1.jpg")no-repeat 0px 0px;
	background-position:center top; 
	background-size:cover;
	padding:0;margin:0;clear:both;
	height: 300px;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}
.logo1 {
	visibility: hidden;
 	text-align: center;
 	padding: 2em 0 0;
}
.logo1 img {
	width: 8em;
}
.logo1 a{
	display:block;
}

.gallery-grid{
	margin: 0 0 1.5em;
}
.gallery-grd{
	padding:.5em 0;
}
.gallery-grd img {
	width:100%;
}
.gallery-grd h4 {
	text-align: center;
	margin: 0.5 0 1em;
	font-weight: 300;
}
.gallery-grd h4 a{
	color: #9c9c9c;
	text-transform: capitalize;
}
.gallery-grd h4 a:hover {
	color: #006fa6;
}
.more-big{
	display: block;
	text-align: center;
}
.more-small {
	display: none;
	text-align: center;
}

.contact-grid iframe{
	width: 100%;
	height: 22em;
}
.contact-textarea h3{
	margin: 0 0 1em;
	color:#006fa6;
}
.contact-textarea h4 {
	color: #006fa6;
	line-height: 1.7em;
}
.contact-textarea h4 span{
	color: #9c9c9c;
	text-transform: uppercase;
}


/*-- 响应式布局 --*/
@media screen and (max-width: 1200px) {
	.slogan h1 {
		font-size: 2.5em;
	}
	.slogan p {
		font-size: 1.1em;
	}
	.product-grid p {
		height: 11em;
	}
}
@media screen and (max-width: 1024px) {
	.header1 {
	background-position:center top; 
	}	
	.slogan {
		width: 80%;
	}
	.slogan h1 {
		font-size: 2em;
	}
	.slogan p {
		font-size: 0.9em;
	}
	.product-grid, .gallery-grid {
	  	float: left;
	  	width: 50%;
	}
	.product-grid:nth-child(2), .gallery-grid:nth-child(2) {
	  margin-bottom: 2em;
	}
	.product-grid:nth-child(1), .gallery-grid:nth-child(1) {
	  margin-bottom: 2em;
	}

	.footer-grid {
	  float: left;
	  width: 50%;
	}
	.footer-grid:nth-child(2) {
	  margin-bottom: 4em;
	}
	.footer {
		padding: 3em 0 0;
	}
	.footer-bottom {
		margin: 3em 0 0;
	}
	.footer-bottom-left {
	  float: none;
	  margin-top: 0;
	  text-align: center;
	}
	.footer-bottom-right {
	  float: none;
	  text-align: center;
	  margin-top: 1em;
	}
	.contact-grid iframe {
	  height: 20em;
	  margin-bottom: 1em;
	}
	
}
@media screen and (max-width: 990px) {
	.product-grid p {
		height: 8.5em;
	}
	.gallery-grid{
		height: 20em;
	}
	}
	
@media screen and (max-width: 768px) {
	.header {
	   min-height: 400px;
	}
	.header1 {
		background-position:center top; 
		height: 320px;
	}	
	span.menu {
		display: block;
		cursor: pointer;
		margin: 1.2em 1em;
	}
	.header-left {
		float:left;
		text-align:left;
	}
	.header-left ul{
		display:none;
	}
	.header-left ul li {
		font-size: 14px;
		display:block;
	}
	.header-left ul li{
		display:block;
		float:none;
		margin: 0em;
		border-bottom: none;
		border-right:none;
	}
	.header-left ul li {
		padding:6px 0 ;
	}
	.header-left ul{
		margin:0.6em 0;
		z-index: 999;
		position: absolute;
		width: 95.5%;
		background:rgba(0,111,166,0.8);
		text-align: center;
	}
	.header-left ul li a {
		display: block;
		font-size: 1.1em;
		margin: 0.05em 0.2em;
		color:#fff;
	}
	.header-left label {
	  	display: none;
	}
	.logo {
		padding: 2em 0 0;
	}
	.logo img {
		width: 8em;
	}
	.slogan {
		margin: 3em auto 0;
		width: 90%;
	}
	.contact-grid iframe {
	  height: 20em;
	  margin-bottom: 2em;
	}
	
}
@media screen and (max-width: 600px) {
	.product-grid p {
		height: 12em;
	}
	.gallery-grid{
		height: 16em;
	}
}
@media screen and (max-width: 480px) {
	.header-left ul{
		width: 93.5%;
	}
	.slogan {
		width: 100%;
	}
	.slogan h1 {
		font-size: 1.6em;
	}
	.slogan p {
		font-size: 0.8em;
	}
	.product, .gallery, .contact {
  		padding: 4em 0 6em;
	}
	.product-grid, .gallery-grid, .contact-grid {
	  float: none;
	  width: 100%;
	  margin-bottom: 2em;
	}
	.product-grid p {
		height: auto;
	}
	.gallery-grid{
		height: auto;
	}
	.footer-grid {
	  float: none;
	  width: 100%;
	  margin-bottom: 2em;
	}
	.footer-grid:nth-child(2) {
	  margin-bottom: 2em;
	}
	.footer-bottom {
	  margin: 0em 0 0;
	}
}
@media screen and (max-width: 420px) {
	.more-big{
		display: none;
	}
	.more-small{
		display: block;
	}
}